.complete-content {
  padding: 40px;
}

.payment-receipt-box {
  border: 1px solid #000;
  padding: 20px;
  margin-top: 20px;
  border-radius: 16px;
  background-color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.cu-content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
}

.pcb-header {
  text-align: center;
}

.form-section {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 8px;
}

.pcb-amount {
  margin-top: 40px;
}

.form-section h3 {
  color: #6d6d6d !important;
}

.copy-url Button {
  width: 40% !important;
  background-color: #2e96d6;
  color: white;
}
